<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<body>
<center>
  <div class="menu" id="myMenu" style="margin-top: 5%">
    <a href="/tictactoe/start" style="font-family: 'Roboto Slab', serif; "  onclick="return confirm('It will delete all Match History')">Home</a>
    <a href="/games" style="font-family: 'Roboto Slab', serif; " >Game</a>
    <a href="/match_history/show" style="font-family: 'Roboto Slab', serif; "  class="active">Match History</a>
    <a href="javascript:void(0);" class="icon" onclick="responsive_nav()">
      <i class="fa fa-bars"></i>
    </a>
  </div>
</center>
</nav>
<div class="card rounded wrapper" style="width: 50%">
  <div class="card-header">
    <h2 class="card-title d-flex justify-content-between mb-2">
      <span>Match History</span>
    </h2>
  </div>
  <div class="card-body">
    <table class="table table-hover">
      <thead>
      <tr>
        <th>Match</th>
        <th>Winner</th>
      </tr>
      </thead>
      <tbody>
      <% @game.each do |game| %>
        <tr>
          <td><h6><%= game.id %></h6></td>
          <% if session[:player1] == game.game_result %>
              <td><h6 style="color: #d8345f"><%= game.game_result %></h6></td>
           <% else %>
            <td><h6 style="color: #588da8"><%= game.game_result %></h6></td>
            <%end %>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
  <div class="card-footer">
    <%= will_paginate @game, renderer: WillPaginate::ActionView::BootstrapLinkRenderer , class: 'btn btn-primary'%>
    <h5>Overall Winner:  <%= Game.group(:game_result).order('game_result DESC').limit(1).pluck(:game_result).first %></h5>
  </div>
</div>
</center>
</body>